*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:radial-gradient(circle at top,#0f172a,#020617);
  color:white;
  overflow-x:hidden;
}

/* HERO */
.hero{
  min-height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:40px 20px;
}

.hero h1{
  font-size:44px;
  max-width:800px;
  line-height:1.3;
  margin-bottom:10px;
  background:linear-gradient(90deg,#6366f1,#a855f7);
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
}

/* BUTTONS */
.hero-btns{
  margin-top:25px;
  margin-bottom:10px;
  display:flex;
  gap:15px;
  justify-content:center;
  flex-wrap:wrap;
}

.btn{
  padding:12px 24px;
  border-radius:12px;
  text-decoration:none;
  transition:0.3s;
}

.primary{
  background:#6366f1;
}

.primary:hover{
  box-shadow:0 0 25px #6366f1;
}

.outline{
  border:1px solid #6366f1;
}

.outline:hover{
  background:#6366f1;
}

/* SOCIAL */
.social-icons{
  margin-top:15px;
}

.social-icons a{
  margin:10px;
  font-size:22px;
  color:#94a3b8;
  transition:0.3s;
}

.social-icons a:hover{
  color:#6366f1;
  transform:scale(1.3);
}

/* DESCRIPTION */
.about{
  text-align:center;
  max-width:900px;
  margin:80px auto 60px;
  padding:0 20px;
  color:#cbd5f5;
  font-size:22px;
  line-height:1.9;
  font-weight:400;
}

/* SECTION */
section{
  padding:100px 40px;
}

.section-title{
  text-align:center;
  margin-bottom:40px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

/* CARD */
.card{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  border-radius:20px;
  overflow:hidden;
  position:relative;
  transform:translateY(50px);
  opacity:0;
  transition:0.6s;
}

.card img{
  width:100%;
}

.card h3{
  padding:15px;
}

.card p{
  padding:0 15px 15px;
  color:#94a3b8;
}

/* OVERLAY */
.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.8);
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  opacity:0;
  transition:0.3s;
}

.card:hover .overlay{
  opacity:1;
}

.overlay a{
  background:#6366f1;
  padding:10px;
  border-radius:8px;
  color:white;
  text-decoration:none;
}

/* ANIMATION */
.show{
  transform:translateY(0);
  opacity:1;
}

/* CERT */
.cert{
  text-align:center;
  padding:30px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:30px;
  color:#94a3b8;
}

/* TOGGLE */
.toggle-btn{
  position:fixed;
  top:20px;
  right:20px;
  padding:10px;
  border:none;
  border-radius:50%;
  background:#6366f1;
  cursor:pointer;
}

.light{
  background:white;
  color:black;
}